* {
    background-color: #ffffff;
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    text-align: center;
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}    

header{
    background-color: blue;
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 1000px;
}